/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, .p {
    font-family: arial, sans-serif;
}

.gwt-DialogBox{
    background: white;
}
.gwt-DateBox{
    background: white;
}
.dateBoxPopup{
    background: white;
}
.gwt-TextArea {
    resize: none;
}

